/********* abstracts *********/
/* main color */
/* font color */
/* font family */
/* general color */
/********* base *********/
/********* fonts *********/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;800&family=Open+Sans:wght@300;400;600;700&display=swap");
/********* fonts *********/
/*
mobile portrait -   (0 - 375px)
mobile landscape -   (376px - 480px)
tablet portrait -   (481px - 768px)
tablet landscape & small laptop -   (769px - 1024px)
generic laptop & desktop   (1025px - 1824px)
large screen (1825px - )
*/
/********* globals *********/
*, *::after, *::before {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: inherit; }

html {
  font-size: 100%;
  /* 16px */ }
  @media only screen and (max-width: 1024px) {
    html {
      font-size: 90%;
      /* 14,4px */ } }

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #504f4f; }

ul {
  list-style-type: none; }

a, a:link, a:visited {
  text-decoration: none;
  color: initial; }

/********* globals *********/
.t1 {
  font: 800 2.3rem/1.3 "Nunito", sans-serif;
  /* 36.8px */
  color: #17015d; }
  .t1 span {
    display: block; }
  @media only screen and (max-width: 1024px) {
    .t1 {
      font-size: 2rem; } }
  @media only screen and (max-width: 768px) {
    .t1 {
      font-size: 1.6rem; } }

.t2 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  /* 32px */
  text-transform: capitalize;
  color: #17015d; }
  .t2-primary {
    color: #3dbe71; }
  .t2-white {
    color: #fff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4); }
  @media only screen and (max-width: 1024px) {
    .t2 {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 480px) {
    .t2 {
      font-size: 1.5rem; } }

.t3 {
  font-size: 1.2rem;
  /* 19.2px */
  text-transform: capitalize;
  color: #17015d; }

.t4 {
  font-size: 1.1rem;
  /* 17.6px */ }

.s1 {
  font-size: .9rem;
  /* 14.4px */
  color: #909090; }

.f-left {
  float: left !important; }

.f-right {
  float: right !important; }

.text-right {
  text-align: right !important; }

@keyframes animation-navbutton {
  0% {
    background-color: #fff; }
  100% {
    background-color: transparent; } }

@keyframes animation-navbutton2 {
  0% {
    transform: translateY(0) rotate(0deg); }
  30% {
    transform: translateY(6px) rotate(0deg); }
  100% {
    transform: translateY(6px) rotate(45deg); } }

@keyframes animation-navbutton3 {
  0% {
    transform: translateY(0) rotate(0deg); }
  30% {
    transform: translateY(-6px) rotate(0deg); }
  100% {
    transform: translateY(-6px) rotate(-45deg); } }

@keyframes animation-navbottom {
  0% {
    top: 0;
    opacity: 0; }
  100% {
    top: 2rem;
    opacity: 1;
    visibility: visible; } }

/********* layouts *********/
/********* header *********/
.header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 8rem;
  /* 128px */ }
  .header-brand {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 768px) {
      .header-brand {
        left: 15%; } }
    @media only screen and (max-width: 480px) {
      .header-brand {
        left: 23%; } }
    @media only screen and (max-width: 375px) {
      .header-brand {
        left: 30%; } }

/********* header *********/
/* footer */
.footer {
  display: flex;
  flex-direction: column;
  height: 25rem;
  box-shadow: 3px -3px 7px 10px rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 768px) {
    .footer {
      height: 30rem; } }
  @media only screen and (max-width: 480px) {
    .footer {
      height: 45rem; } }
  .footer-top {
    flex: 0 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 2rem 2rem;
    background-color: #ecececec; }
    @media only screen and (max-width: 768px) {
      .footer-top {
        padding: 0 0 2rem 0; } }
    @media only screen and (max-width: 480px) {
      .footer-top {
        flex: 1;
        padding: 0;
        justify-content: space-around; } }
  .footer-contact {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid rgba(61, 190, 113, 0.5); }
    @media only screen and (max-width: 768px) {
      .footer-contact {
        display: flex;
        align-items: center; } }
  .footer-links {
    width: 60%;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 768px) {
      .footer-links {
        width: 80%; } }
    @media only screen and (max-width: 518px) {
      .footer-links {
        width: 90%; } }
    @media only screen and (max-width: 480px) {
      .footer-links {
        flex-wrap: wrap;
        height: 40%; } }
    @media only screen and (max-width: 375px) {
      .footer-links {
        font-size: 90%; } }
  @media only screen and (max-width: 480px) {
    .footer-container {
      flex: 0 33%; } }
  @media only screen and (max-width: 480px) {
    .footer-container:last-child {
      flex: 0 100%; } }
  .footer-header {
    font-size: 1.2rem;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    line-height: 1.5;
    text-align: center;
    text-transform: capitalize; }
  .footer-underline {
    display: block;
    width: 80%;
    height: 2px;
    margin: auto;
    background-color: #3dbe71; }
  .footer-list {
    margin-top: 1rem;
    line-height: 2; }
  .footer-item {
    position: relative;
    text-indent: 1.5rem; }
    .footer-item::before {
      content: url("../imgs/sign.png");
      position: absolute;
      top: 0;
      left: -10%;
      transform: scale(0.4); }
  .footer-link, .footer-link:link, .footer-link:visited {
    letter-spacing: 1px;
    font-weight: 300;
    color: #909090; }
  .footer-link:hover, .footer-link:active {
    color: #3dbe71; }
  .footer-bottom {
    flex: 1;
    /* 15% */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5db380; }
    @media only screen and (max-width: 480px) {
      .footer-bottom {
        flex: 0 10%; } }
  .footer-copyright {
    color: rgba(255, 255, 255, 0.8);
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 1px; }

/* footer */
/********* components *********/
/********** btn **********/
/* btn */
.btn {
  overflow: hidden;
  position: relative;
  padding: 1.25rem 3rem;
  border-radius: 5rem;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 1px;
  /* btn-primary */
  /* btn-success */
  /* btn-danger */
  /* btn-middle */
  /* btn-large */ }
  .btn span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-property: top, opacity;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.02, 0.04, 0.28, 2.1); }
    .btn span:last-child {
      opacity: 0;
      top: 100%;
      transform: translate(-50%, 0);
      /* -50% 0 Ile Degerini Resetledik */ }
  .btn:hover, .btn:active {
    /* btn:hover span:first-child { } */ }
    .btn:hover span:first-child, .btn:active span:first-child {
      opacity: 0;
      top: 0;
      transform: translate(-50%, -100%); }
    .btn:hover span:last-child, .btn:active span:last-child {
      opacity: 1;
      top: 50%;
      transform: translate(-50%, -50%); }
  .btn-primary {
    background-color: #3dbe71; }
    .btn-primary:hover {
      background-color: #5db380; }
  .btn-success {
    background-color: #540d6e; }
    .btn-success:hover {
      background-color: #532d61; }
  .btn-danger {
    background-color: #ee4266; }
    .btn-danger:hover {
      background-color: #e8889c; }
  .btn-middle {
    font-size: 0.9rem;
    padding: 1.5rem 7rem; }
  .btn-large {
    font-size: .9rem;
    padding: 2rem 8rem; }

/* btn */
/********** btn **********/
/********* navbar navigation  *********/
.navbar {
  position: relative;
  flex: 0 90%;
  display: flex;
  justify-content: end;
  height: 30px;
  /* ANIMATION */
  /* ANIMATION */ }
  @media only screen and (max-width: 768px) {
    .navbar {
      flex: 0 100%; } }
  .navbar-checkbox {
    display: none; }
  .navbar-button {
    visibility: hidden;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    width: 2.5rem;
    height: 2rem;
    border-radius: 2px;
    background-color: #3dbe71; }
    @media only screen and (max-width: 768px) {
      .navbar-button {
        visibility: visible; } }
  .navbar-line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.4rem;
    height: 2.5px;
    background-color: #fff; }
    .navbar-line::before, .navbar-line::after {
      content: ' ';
      position: absolute;
      left: 0;
      width: 1.4rem;
      height: 2.5px;
      background-color: #fff; }
    .navbar-line::before {
      top: -6px; }
    .navbar-line::after {
      top: 6px; }
  .navbar .nav-top {
    flex: 0 75%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 768px) {
      .navbar .nav-top {
        display: none; } }
    @media only screen and (max-width: 1825px) {
      .navbar .nav-top {
        flex: 0 75%; } }
    .navbar .nav-top-list {
      flex-basis: 80%;
      display: flex;
      justify-content: space-around; }
    .navbar .nav-top-link {
      position: relative; }
      .navbar .nav-top-link::before {
        content: '';
        position: absolute;
        bottom: -.5rem;
        left: 0;
        width: 0%;
        height: 3px;
        background-color: transparent;
        transition: width 0s; }
      .navbar .nav-top-link::after {
        content: '';
        position: absolute;
        bottom: -.5rem;
        right: 0;
        width: 0%;
        height: 3px;
        background-color: #3dbe71;
        transition: width .5s; }
      .navbar .nav-top-link, .navbar .nav-top-link:link, .navbar .nav-top-link:visited {
        color: rgba(0, 0, 0, 0.7);
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 600; }
      .navbar .nav-top-link:hover::before, .navbar .nav-top-link:active::before {
        width: 100%;
        background-color: #3dbe71;
        transition: width .5s; }
      .navbar .nav-top-link:hover::after, .navbar .nav-top-link:active::after {
        width: 100%;
        background-color: transparent;
        transition: width 0s; }
  .navbar .nav-bottom {
    visibility: hidden;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 10;
    top: 2rem;
    left: 0;
    width: 100%;
    height: 24rem;
    padding: 2rem 0;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(0.2rem);
    backdrop-filter: blur(0.2rem); }
    .navbar .nav-bottom-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
    .navbar .nav-bottom-link {
      position: relative; }
      .navbar .nav-bottom-link::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 3px;
        background: #3dbe71;
        transition: width .5s; }
      .navbar .nav-bottom-link::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0%;
        width: 0%;
        height: 3px;
        background-color: transparent;
        transition: width 0s; }
      .navbar .nav-bottom-link, .navbar .nav-bottom-link:link, .navbar .nav-bottom-link:visited {
        display: block;
        padding: .5rem 0;
        font-size: 1.2rem;
        color: #fff;
        letter-spacing: 2px;
        text-transform: uppercase; }
      .navbar .nav-bottom-link:active::before, .navbar .nav-bottom-link:hover::before {
        width: 100%;
        background-color: transparent;
        transition: width 0s; }
      .navbar .nav-bottom-link:active::after, .navbar .nav-bottom-link:hover::after {
        width: 100%;
        background-color: #3dbe71;
        transition: width .5s; }
  .navbar-checkbox:checked + .navbar-button > .navbar-line {
    animation: animation-navbutton .3s ease both; }
  .navbar-checkbox:checked + .navbar-button > .navbar-line::before {
    animation: animation-navbutton2 .5s ease both; }
  .navbar-checkbox:checked + .navbar-button > .navbar-line::after {
    animation: animation-navbutton3 .5s ease both; }
  .navbar-checkbox:checked ~ .nav-bottom {
    display: flex;
    animation: animation-navbottom .5s ease .3s both; }

/********* navbar navigation  *********/
/********* sosial media icons *********/
.icons-header {
  position: absolute;
  top: 1%;
  right: 10%; }
  @media only screen and (max-width: 768px) {
    .icons-header {
      right: 1%; } }

.icons-list {
  display: flex; }
  @media only screen and (max-width: 768px) {
    .icons-list {
      justify-content: space-evenly; } }

.icons-link, .icons-link:link, .icons-link:active {
  display: block;
  padding: 0.5rem; }

.icons-link:hover svg, .icons-link:active svg {
  fill: #17015d; }

.icons-icon {
  width: 1rem;
  height: 1rem;
  fill: #3dbe71; }

.icons-footer {
  margin-top: 1rem; }
  .icons-footer .icons-item {
    margin-right: 3px; }
    .icons-footer .icons-item:last-child {
      margin-right: 0; }
  .icons-footer .icons-link {
    display: flex;
    justify-content: center;
    align-items: center; }
    .icons-footer .icons-link, .icons-footer .icons-link:hover, .icons-footer .icons-link:visited {
      border: 2px solid #3dbe71;
      border-radius: 50%; }
    .icons-footer .icons-link:hover, .icons-footer .icons-link:active {
      border: 2px solid rgba(23, 1, 93, 0.7);
      background-color: #3dbe71; }
      .icons-footer .icons-link:hover svg, .icons-footer .icons-link:active svg {
        fill: #fff; }
  .icons-footer .icons-icon {
    width: 1.1rem;
    height: 1.1rem;
    fill: #3dbe71; }

/********* sosial media icons *********/
/* counter */
.counter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 22%;
  height: 14rem;
  padding: 3rem 1rem;
  border: 2px solid #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); }
  @media only screen and (max-width: 768px) {
    .counter {
      width: 45%;
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 480px) {
    .counter {
      width: 47%; } }
  @media only screen and (max-width: 375px) {
    .counter {
      width: 75%; } }
  .counter-icon {
    width: 3rem;
    height: 3rem;
    fill: #fff; }
    @media only screen and (max-width: 768px) {
      .counter-icon {
        width: 2.2rem;
        height: 2.2rem; } }
  .counter-num {
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    font-size: 2.5rem;
    letter-spacing: -2px;
    color: #fff; }
  .counter-name {
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    color: #fff;
    white-space: nowrap;
    text-transform: capitalize; }

/* counter */
/* card */
.card {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 80%;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2rem 2.5rem #00004040; }
  .card:nth-child(2) {
    position: relative;
    transform: scale(1.1); }
    .card:nth-child(2)::before {
      content: url("../../imgs/badge.png");
      position: absolute;
      z-index: 10;
      top: 33%;
      right: 10%;
      transform: scale(1.3); }
    .card:nth-child(2)::after {
      content: 'Most \a popular.';
      /* \a white-spacing pre */
      white-space: pre;
      position: absolute;
      z-index: 20;
      top: 35%;
      right: 11%;
      text-align: center;
      color: #fff;
      font-weight: 300;
      font-size: .9rem;
      letter-spacing: 1.5px;
      line-height: 1.25; }
  .card-top {
    flex: 0 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    border-radius: 4px 4px 0 0;
    background-image: linear-gradient(to right bottom, rgba(61, 190, 113, 0.9), rgba(163, 235, 177, 0.7));
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%); }
  .card-icon {
    width: 4rem;
    height: 4rem;
    fill: #fff; }
  .card-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    color: #fff; }
  .card-title {
    font-size: 1.2rem;
    letter-spacing: 2px; }
  .card-price {
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-size: 2.7rem; }
    .card-price sup {
      text-transform: uppercase;
      font-size: .9rem; }
  .card-description {
    font-size: 1rem; }
  .card-bottom {
    flex: 0 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 4px 4px; }
  .card-list {
    width: 80%; }
  .card-item {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    color: #9e9e9e;
    border-bottom: 1px solid #ddd; }
    .card-item:last-child {
      border: none; }
    .card-item span:last-child {
      font-weight: bold; }
  .card-pink {
    background-image: linear-gradient(to bottom right, #ee4266, rgba(232, 136, 156, 0.6)); }
  .card-purple {
    background-image: linear-gradient(to bottom right, rgba(84, 13, 110, 0.8), rgba(83, 45, 97, 0.6)); }

/* card */
/* comment */
.comment {
  position: relative;
  width: 20%;
  height: 21rem; }
  .comment-img {
    position: absolute;
    z-index: 10;
    top: -7%;
    right: 5%;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: -4px 3px 4px 3px rgba(0, 0, 0, 0.3); }
  .comment-shadow {
    height: 100%;
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5)); }
  .comment-content {
    /* img flow dan ciktigi ve polygon burada tanmlndgi icn backgroundcolor da comment de degil burada tanimlandi */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* 21rem */
    padding: 4rem 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    clip-path: polygon(0% 0%, 100% 10%, 100% 90%, 25% 100%, 0% 75%); }
    .comment-content::before {
      content: url("../imgs/left-quote.png");
      position: absolute;
      transform: scale(0.7);
      top: 3%;
      left: 3%;
      opacity: .4; }
  .comment-text {
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #504f4f;
    text-align: justify; }
  .comment-author {
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    font-size: .8rem;
    letter-spacing: 1px;
    text-align: right; }
  .comment:nth-child(even) {
    align-self: flex-end; }

/* comment */
/* contact */
.contact {
  width: 100%;
  height: 100%; }
  @media only screen and (max-width: 768px) {
    .contact {
      height: 80%; } }
  @media only screen and (max-width: 480px) {
    .contact {
      height: 90%; } }
  .contact-list {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #909090;
    font-weight: 300; }
    @media only screen and (max-width: 768px) {
      .contact-list {
        flex-wrap: wrap;
        justify-content: center; } }
    @media only screen and (max-width: 480px) {
      .contact-list {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between; } }
  .contact-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%; }
    @media only screen and (max-width: 768px) {
      .contact-item {
        flex: 0 34%; } }
  .contact-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: .5rem;
    fill: #3dbe71; }
    @media only screen and (max-width: 480px) {
      .contact-icon {
        margin-bottom: 0; } }

/* contact */
/********* pages *********/
/* 1 section info */
.sec-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39rem;
  padding: 4rem 6rem 1rem 6rem; }
  @media only screen and (max-width: 768px) {
    .sec-info {
      height: 30rem;
      padding: 1rem 3rem; } }
  @media only screen and (max-width: 480px) {
    .sec-info {
      height: 45rem;
      padding: 1rem; } }
  .sec-info-container {
    display: flex;
    height: 100%; }
    @media only screen and (max-width: 480px) {
      .sec-info-container {
        flex-direction: column-reverse; } }
  .sec-info-left {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 65%; }
    @media only screen and (max-width: 768px) {
      .sec-info-left {
        height: 80%; } }
    @media only screen and (max-width: 480px) {
      .sec-info-left {
        flex: 0 40%;
        align-items: center;
        text-align: center; } }
    @media only screen and (max-width: 375px) {
      .sec-info-left {
        flex: 0 50%; } }
  .sec-info-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 480px) {
      .sec-info-right {
        height: 50%; } }
  .sec-info-img {
    width: 90%;
    height: 90%; }

/* 1 section info */
/* 2 section features */
.sec-features {
  height: 50rem;
  padding: 4rem 6rem;
  display: flex;
  /* sectop and secbottom */
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 1024px) {
    .sec-features {
      padding: 3rem; } }
  @media only screen and (max-width: 768px) {
    .sec-features {
      height: 70rem; } }
  @media only screen and (max-width: 480px) {
    .sec-features {
      height: 110rem;
      padding: 3rem 0; } }
  .sec-features-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    text-align: center; }
    @media only screen and (max-width: 1024px) {
      .sec-features-top {
        width: 90%; } }
    @media only screen and (max-width: 480px) {
      .sec-features-top {
        margin-bottom: 1rem; } }
  .sec-features-heading {
    white-space: nowrap; }
  .sec-features-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    height: 32rem;
    /* 512px */ }
    @media only screen and (max-width: 1024px) {
      .sec-features-bottom {
        width: 100%;
        height: 37rem; } }
    @media only screen and (max-width: 768px) {
      .sec-features-bottom {
        height: 55rem; } }
    @media only screen and (max-width: 480px) {
      .sec-features-bottom {
        height: 95rem;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center; } }
  .sec-features-feature {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 27%;
    /* 332.37px */
    height: 13rem;
    /* 208px */
    text-align: justify; }
    @media only screen and (max-width: 1024px) {
      .sec-features-feature {
        justify-content: flex-start;
        width: 30%;
        height: 17rem; } }
    @media only screen and (max-width: 768px) {
      .sec-features-feature {
        width: 45%; } }
    @media only screen and (max-width: 480px) {
      .sec-features-feature {
        justify-content: center;
        width: 75%;
        height: 15rem; } }
  .sec-features-icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: #3dbe71; }
  .sec-features-title {
    white-space: nowrap; }
    @media only screen and (max-width: 1024px) {
      .sec-features-title {
        font-size: 1rem; } }
  @media only screen and (max-width: 1024px) {
    .sec-features-desc {
      font-size: 1.1rem; } }
  @media only screen and (max-width: 540px) {
    .sec-features-desc {
      font-size: 1rem; } }
  @media only screen and (max-width: 480px) {
    .sec-features-desc {
      font-size: 1.1rem; } }
  @media only screen and (max-width: 375px) {
    .sec-features-desc {
      font-size: 1rem; } }
  @media only screen and (max-width: 320px) {
    .sec-features-desc {
      font-size: .9rem; } }

/* 2 section features */
/* 3 section workflow */
.sec-workflow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 68rem;
  /* 1088px */
  padding: 4rem 0 2rem 0;
  /* 64px 0 32px 0 */
  background-color: #e3f5eb; }
  @media only screen and (max-width: 540px) {
    .sec-workflow {
      padding: 4rem .5rem; } }
  @media only screen and (max-width: 480px) {
    .sec-workflow {
      height: 80rem; } }
  @media only screen and (max-width: 375px) {
    .sec-workflow {
      height: 86rem; } }
  .sec-workflow-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .sec-workflow-top {
        width: 80%; } }
    @media only screen and (max-width: 480px) {
      .sec-workflow-top {
        width: 90%; } }
    @media only screen and (max-width: 375px) {
      .sec-workflow-top {
        margin-bottom: 3rem; } }
  .sec-workflow-bottom {
    flex: 0 85%;
    display: flex; }
  .sec-workflow-flow {
    flex: 1;
    display: flex;
    justify-content: center; }
  .sec-workflow-line {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 4px;
    background-color: #e3a396; }
  .sec-workflow-circle {
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    background-color: #e3a396; }
  .sec-workflow-left {
    flex: 0 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; }
    @media only screen and (max-width: 480px) {
      .sec-workflow-left > .sec-workflow-box:nth-child(odd) {
        padding-right: 1rem; } }
  .sec-workflow-right {
    flex: 0 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media only screen and (max-width: 480px) {
      .sec-workflow-right > .sec-workflow-box:nth-child(even) {
        padding-left: 1rem; } }
  .sec-workflow-box {
    position: relative;
    width: 80%;
    height: 10rem; }
    @media only screen and (max-width: 768px) {
      .sec-workflow-box {
        width: 90%; } }
    @media only screen and (max-width: 480px) {
      .sec-workflow-box {
        width: 100%;
        height: 11rem; } }
  .sec-workflow-heading {
    letter-spacing: 1px;
    margin-bottom: .5rem; }
    @media only screen and (max-width: 768px) {
      .sec-workflow-heading {
        font-size: 1rem; } }
  .sec-workflow-icon {
    float: left;
    width: 7rem;
    height: 7rem;
    margin: 0 1rem;
    border-radius: 50%;
    border: 4px solid #e3a396;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    shape-outside: circle(50%); }
    @media only screen and (max-width: 540px) {
      .sec-workflow-icon {
        z-index: 10; }
        .sec-workflow-icon.right:only-of-type {
          position: absolute;
          top: 50%;
          right: -65%;
          transform: translate(50%, -50%); }
        .sec-workflow-icon.left:only-of-type {
          position: absolute;
          top: 50%;
          left: -105%;
          transform: translate(50%, -50%); } }
    @media only screen and (max-width: 375px) {
      .sec-workflow-icon.left:only-of-type {
        left: -120%; } }
  @media only screen and (max-width: 768px) {
    .sec-workflow-text {
      font-size: 1rem; } }
  @media only screen and (max-width: 375px) {
    .sec-workflow-text {
      font-size: .9rem; } }

/* 3 section workflow */
/* 4 section counter */
.sec-counter {
  display: flex;
  justify-content: center;
  height: 40rem;
  /* 640px */
  padding: 3rem 6rem;
  /* 39px 96rem */
  background: linear-gradient(to left top, #e3a39660, #ffff0080), url("../imgs/counter-bg-2000.jpg") center/cover no-repeat; }
  @media only screen and (max-width: 1024px) {
    .sec-counter {
      padding: 3rem 2rem; } }
  @media only screen and (max-width: 768px) {
    .sec-counter {
      height: 50rem;
      background: linear-gradient(to left top, #e3a39660, #ffff0080), url("../imgs/counter-bg-1000.jpg") center/cover no-repeat; } }
  @media only screen and (max-width: 480px) {
    .sec-counter {
      height: 55rem;
      padding: 3rem .5rem;
      background: linear-gradient(to left top, #e3a39660, #ffff0080), url("../imgs/counter-bg-700.jpg") center/cover no-repeat; } }
  @media only screen and (max-width: 375px) {
    .sec-counter {
      height: 90rem; } }
  .sec-counter-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%; }
    @media only screen and (max-width: 480px) {
      .sec-counter-container {
        width: 100%; } }
  .sec-counter-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .sec-counter-top {
        width: 100%;
        margin-bottom: 1rem; } }
  .sec-counter-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    @media only screen and (max-width: 768px) {
      .sec-counter-bottom {
        flex-wrap: wrap;
        width: 80%; } }
    @media only screen and (max-width: 480px) {
      .sec-counter-bottom {
        width: 90%; } }
    @media only screen and (max-width: 375px) {
      .sec-counter-bottom {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center; } }

/* 4 section counter */
/* 5 section card */
.sec-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 55rem;
  padding: 4rem 5rem 2rem 5rem;
  background-color: #edeeee; }
  .sec-card-cards {
    flex: 0 0 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }

/* 5 section card */
/* 6 section idea */
.sec-idea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35rem;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.5)), url(../../imgs/sec-idea-bg-2000.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .sec-idea-heading {
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    font-size: 3.5rem;
    color: #fff;
    letter-spacing: 2px; }

/* 6 section idea */
/* 7 section comment */
.sec-comment {
  display: flex;
  flex-direction: column;
  height: 40rem;
  padding: 4rem 3rem;
  background-color: rgba(180, 187, 189, 0.7); }
  .sec-comment-top {
    flex: 0 20%;
    display: flex;
    justify-content: center; }
  .sec-comment-bottom {
    flex: 1;
    display: flex;
    justify-content: space-around; }

/* 7 section comment */
/********* generals *********/
/********* generals *********/
