/********* abstracts *********/
/* main color */
/* font color */
/* general color */
/********* base *********/
/********* fonts *********/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;800&family=Open+Sans:wght@300;400;600;700&display=swap");
/********* fonts *********/
/********* globals *********/
*, *::after, *::before {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: inherit; }

html {
  font-size: 100%;
  /* 16px */ }

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #504f4f; }

ul {
  list-style-type: none; }

a, a:link, a:visited {
  text-decoration: none;
  color: initial; }

/********* globals *********/
.t1 {
  font: 800 2.3rem/1.3 'Nunito', sans-serif;
  /* 36.8px */
  color: #17015d; }
  .t1 span {
    display: block; }

.t4 {
  font-size: 1.1rem;
  /* 17.6px */
  color: #504f4f; }

/********* layouts *********/
/********* header *********/
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  min-height: 8rem;
  /* 128px */ }
  .header-icons {
    position: absolute;
    top: 2%;
    right: 10%; }

/********* header *********/
/********* components *********/
/********** btn **********/
/* btn */
.btn {
  overflow: hidden;
  position: relative;
  padding: 1.25rem 3rem;
  border-radius: 5rem;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 1px; }
  .btn span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-property: top, opacity;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.02, 0.04, 0.28, 2.1); }
    .btn span:last-child {
      opacity: 0;
      top: 100%;
      transform: translate(-50%, 0);
      /* -50% 0 Ile Degerini Resetledik */ }
  .btn:hover, .btn:active {
    /* btn:hover span:first-child { } */ }
    .btn:hover span:first-child, .btn:active span:first-child {
      opacity: 0;
      top: 0;
      transform: translate(-50%, -100%); }
    .btn:hover span:last-child, .btn:active span:last-child {
      opacity: 1;
      top: 50%;
      transform: translate(-50%, -50%); }

/* btn */
/* btn-primary */
.btn-primary {
  background-color: #3dbe71; }
  .btn-primary:hover {
    background-color: #5db380; }

/* btn-primary */
/* btn-middle */
.btn-middle {
  font-size: 0.9rem;
  padding: 1.5rem 7rem; }

/* btn-middle */
/* btn-info */
/********** btn **********/
/********* navbar navigation  *********/
.navbar {
  flex: 0 75%;
  display: flex;
  justify-content: space-between; }
  .navbar-nav {
    flex: 0 1 80%;
    display: flex;
    align-items: center; }
  .navbar-list {
    flex-basis: 80%;
    display: flex;
    justify-content: space-between; }
  .navbar-link {
    position: relative; }
    .navbar-link span {
      pointer-events: none; }
      .navbar-link span:first-child {
        position: relative;
        top: 0;
        right: 0;
        transition-property: right, opacity;
        transition-duration: 0.3s, 0.1s;
        transition-timing-function: cubic-bezier(0.02, 0.04, 0.28, 2.1); }
      .navbar-link span:last-child {
        opacity: 0;
        position: absolute;
        top: 49%;
        left: 100%;
        transform: translateY(-50%);
        transition-property: left, opacity;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.02, 0.04, 0.28, 2.1); }
    .navbar-link::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0%;
      height: 3px;
      transition: width 0s, background-color 0.3s; }
    .navbar-link::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -5px;
      width: 0%;
      height: 3px;
      background-color: #3dbe71;
      transition: width 0.3s; }
    .navbar-link:link, .navbar-link:visited {
      color: rgba(0, 0, 0, 0.7);
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 600; }
    .navbar-link:hover::before, .navbar-link:active::before {
      width: 100%;
      background-color: #3dbe71;
      transition: width 0.3s; }
    .navbar-link:hover::after, .navbar-link:active::after {
      width: 100%;
      background-color: transparent;
      transition: all 0s; }
    .navbar-link:hover span:first-child, .navbar-link:active span:first-child {
      opacity: 0;
      right: 100%; }
    .navbar-link:hover span:last-child, .navbar-link:active span:last-child {
      opacity: 1;
      left: 50%;
      transform: translate(-50%, -50%); }

/********* navbar navigation  *********/
/********* sosial media icons *********/
.icons-list {
  display: flex; }

.icons-link, .icons-link:link, .icons-link:active {
  padding: 0.5rem; }

.icons-link:hover .fab, .icons-link:active .fab {
  color: #17015d; }

.icons-fab {
  width: 1rem;
  height: 1rem;
  color: #3dbe71; }

/********* sosial media icons *********/
/********* pages *********/
.sec-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39rem;
  padding: 4rem 6rem 1rem 6rem; }
  .sec-info-container {
    display: flex;
    height: 100%; }
  .sec-info-left {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 60%; }
  .sec-info-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
  .sec-info-img {
    width: 90%;
    height: 90%; }

/********* generals *********/
/********* generals *********/
