/* main color */
$colorPrimary: #3dbe71;
$colorSecondary: #17015d;

/* font color */
$colorFont1: #504f4f;

/* font family */
$fontSecondary: 'Nunito', sans-serif;

/* general color */
$colorBlack: #000;
$colorWhite: #fff;