/* counter */
.counter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 22%;
    height: 14rem;
    padding: 3rem 1rem;
    border: 2px solid $colorWhite;
    box-shadow: 2px 2px 5px rgba($colorBlack, .4);

    // background-color: red;

    &-icon {
        width: 3rem;
        height: 3rem;
        fill: $colorWhite;
    }
    &-num {
        font-family: $fontSecondary;
        font-weight: 200;
        font-size: 2.5rem;
        letter-spacing: -2px;
        color: $colorWhite;
    }
    &-name {
        font-family: $fontSecondary;
        font-weight: 800;
        letter-spacing: 1px;
        color: $colorWhite;
        white-space: nowrap;
    }
}
/* counter */