/********* sosial media icons *********/
.icons {
    &-list {
        display: flex;
    }
    &-link {
        &,
        &:link,
        &:active {
            padding: 0.5rem;
        }
        &:hover,
        &:active {
            .fab {
                color: $colorSecondary;
            }
        }
    }
    &-fab {
        width: 1rem;
        height: 1rem;
        color: $colorPrimary;
    }
}
/********* sosial media icons *********/
