/********* navbar navigation  *********/
.navbar {
    position: relative;
    flex: 0 90%;
    display: flex;
    justify-content: end;
    // width: 90%;
    height: 30px;

    // background-color: lightcyan;

    @media only screen and (max-width: 768px) {
        flex: 0 100%;
        // width: 100%;
    }
    @media only screen and (min-width: 1825px) {
        flex: 0 75%;
    }

    &-checkbox {
        display: none;
    }
    &-button {
        visibility: hidden;
        cursor: pointer;
        // display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        width: 2.5rem;
        height: 2rem;
        // padding: 4px;
        border-radius: 2px;
        background-color: $colorPrimary;

        @media only screen and(max-width: 768px) {
            visibility: visible;
        }
    }
    &-line {
        // display: block;   
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1.4rem;
        height: 2.5px;
        background-color: $colorWhite;

        &::before,
        &::after {
            content: ' ';
            // display: block;
            position: absolute;
            left: 0;
            width: 1.4rem;
            height: 2.5px;
            background-color: $colorWhite;
        }
        &::before {
            top: -6px;
        }
        &::after {
            top: 6px;
        }
    }
    .nav-top {
        flex: 0 75%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // width: 75%;

        // background-color: lightcoral;

        @media only screen and (max-width: 768px) {
            display: none;
        }
        @media only screen and (min-width: 1825px) {
            flex: 0 70%;
            // width: 75%;
        }
        
    
        &-list {
            flex-basis: 80%;
            display: flex;
            justify-content: space-around;

        }
        &-item {
        }
        &-link {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                bottom: -.5rem;
                left: 0;
                width: 0%;
                height: 3px;
                background-color: transparent;
                transition: width 0s;
            }
            &::after {
                content: '';
                position: absolute;
                bottom: -.5rem;
                right: 0;
                width: 0%;
                height: 3px;
                background-color: $colorPrimary;
                transition: width .5s;
            }
            &,
            &:link,
            &:visited {
                color: rgba($colorBlack, 0.7);
                text-transform: uppercase;
                font-size: 0.9rem;
                font-weight: 600;
            }
            &:hover,
            &:active {
                &::before {
                    width: 100%;
                    background-color: $colorPrimary;
                    transition: width .5s;
                }
                &::after {
                    width: 100%;
                    background-color: transparent;
                    transition: width 0s;
                }
            }
        }
    }

    .nav-bottom {
        visibility: hidden;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        z-index: 10;
        top: 2rem;
        left: 0;
        width: 100%;
        height: 24rem;
        padding: 2rem 0;
        background-color: rgba($colorBlack, 0.5);
        box-shadow: 0 2px 5px 2px rgba($colorBlack, 0.2);
        
        -webkit-backdrop-filter: blur(.2rem);
        backdrop-filter: blur(.2rem);

        &-list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            // background-color: lightgreen;
        }
        &-btn {

        }
        &-item {

        }
        &-link {
            position: relative;

            // background-color: rosybrown;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 3px;
                background: $colorPrimary;
                
                transition: width .5s;
            }
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0%;
                width: 0%;
                height: 3px;
                background-color: transparent;

                transition: width 0s;
            }
            &,
            &:link,
            &:visited {
                display: block;
                padding: .5rem 0;
                font-size: 1.2rem;
                color: $colorWhite;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
            &:active,
            &:hover {
                
                &::before {
                    width: 100%;
                    background-color: transparent;
                    transition: width 0s;
                }
                &::after {
                    width: 100%;
                    background-color: $colorPrimary;
                    transition: width .5s;
                }
            }
        }
    }

    /* ANIMATION */
    &-checkbox:checked + &-button > &-line {
        animation: animation-navbutton .3s ease both;
    }
    &-checkbox:checked + &-button > &-line::before {
        animation: animation-navbutton2 .5s ease both;
    }
    &-checkbox:checked + &-button > &-line::after {
        animation: animation-navbutton3 .5s ease both;
    }
    &-checkbox:checked ~ .nav-bottom {
        display: flex;
        animation: animation-navbottom .5s ease .3s both;
    }
/* ANIMATION */
}
/********* navbar navigation  *********/
