.t1 {
    font: 800 2.3rem/1.3 $fontSecondary; /* 36.8px */
    color: $colorSecondary;

    span {
        display: block;
    }

    @media only screen and (max-width: 1024px) {
        font-size: 2rem;
    }
    @media only screen and (max-width: 768px) {
        font-size: 1.6rem;
    }
}
.t2 {
    font-family: $fontSecondary;
    font-size: 2rem; /* 32px */
    text-transform: capitalize;
    color: $colorSecondary;

    &-primary {
        color: $colorPrimary;
    }
    &-white {
        color: $colorWhite;
        text-shadow: 2px 2px rgba($colorBlack, .4);
    }

    @media only screen and (max-width: 1024px) {
        font-size: 1.8rem;
    }
    @media only screen and (max-width: 480px) {
        font-size: 1.5rem;
    }
}
.t3 {
    font-size: 1.2rem; /* 19.2px */
    text-transform: capitalize;
    color: $colorSecondary;
}
.t4 {
    font-size: 1.1rem; /* 17.6px */
}
.s1 {
    font-size: .9rem; /* 14.4px */
    color: #909090;
}