/* 1 section info */
.sec-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39rem;
    padding: 4rem 6rem 1rem 6rem;

    // background-color: lightsalmon;

    @media only screen and (max-width: 768px) {
        height: 30rem;
        padding: 1rem 3rem;
    }
    @media only screen and (max-width: 480px) {
        height: 45rem;
        padding: 1rem;
    }

    &-container {
        display: flex;
        height: 100%;

        @media only screen and (max-width: 480px) {
            flex-direction: column-reverse;
        }
    }
    &-left {
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 65%;

        // background-color: lightcyan;

        @media only screen and (max-width: 768px) {
            height: 80%;
        }
        @media only screen and (max-width: 480px) {
            flex: 0 40%;
            align-items: center;
            text-align: center;
        }
        @media only screen and (max-width: 375px) {
            // height: 50%;
            flex: 0 50%;
        }
    }
    &-right {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        // background-color: lightgoldenrodyellow;

        @media only screen and (max-width: 480px) {
            height: 50%;
        }
    }
    &-img {
        width: 90%;
        height: 90%;
    }
}
/* 1 section info */
/* 2 section features */
.sec-features {
    height: 50rem;
    padding: 4rem 6rem;

    display: flex;  /* sectop and secbottom */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    // background-color: lightgrey;

    @media only screen and (max-width: 1024px) {
        padding: 3rem;
    }
    @media only screen and (max-width: 768px) {
        height: 70rem;
    }
    @media only screen and (max-width: 480px) {
        height: 110rem;
        padding: 3rem 0;
    }

    &-top {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        text-align: center;

        // background-color: lightpink;

        @media only screen and (max-width: 1024px) {
            width: 90%;
        }
        @media only screen and (max-width: 480px) {
            margin-bottom: 1rem;
        }
    }
    &-heading {
        white-space: nowrap;
    }
    &-bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        width: 90%;
        height: 32rem; /* 512px */

        // background-color: lightsalmon;

        @media only screen and (max-width: 1024px) {
            width: 100%;
            height: 37rem;
        }
        @media only screen and (max-width: 768px) {
            height: 55rem;
        }
        @media only screen and (max-width: 480px) {
            height: 95rem;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }
    }
    &-feature {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 27%; /* 332.37px */
        height: 13rem; /* 208px */
        text-align: justify;

        // background-color: lightgreen;

        @media only screen and (max-width: 1024px) {
            justify-content: flex-start;
            width: 30%;
            height: 17rem;
        }
        @media only screen and (max-width: 768px) {
            width: 45%;
        }
        @media only screen and (max-width: 480px) {
            justify-content: center;
            width: 75%;
            height: 15rem;
        }
    }
    &-icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: $colorPrimary;
    }
    &-title {
        white-space: nowrap;

        @media only screen and (max-width: 1024px) {
            font-size: 1rem;
        }
    }
    &-desc {

        @media only screen and (max-width: 1024px) {
            font-size: 1.1rem;
        }
        @media only screen and (max-width: 540px) {
            font-size: 1rem;
        }
        @media only screen and (max-width: 480px) {
            font-size: 1.1rem;
        }
        @media only screen and (max-width: 375px) {
            font-size: 1rem;
        }
        @media only screen and (max-width: 320px) {
            font-size: .9rem;
        }
    }
}
/* 2 section features */
/* 3 section workflow */
.sec-workflow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 68rem; /* 1088px */
    padding: 4rem 0 2rem 0; /* 64px 0 32px 0 */
    background-color: #e3f5eb;

    &-top {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        height: 6rem; /* 96px */
        text-align: center;
    }
    &-bottom {
        flex: 0 85%;
        display: flex;
    }
    &-flow {
        flex: 1;
        display: flex;
        justify-content: center;
    }
    &-line {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 4px;
        background-color: #e3a396;
    }
    &-circle {
        display: block;
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
        background-color: #e3a396;
    }
    &-left {
        flex: 0 48%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    &-right {
        flex: 0 48%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &-box {
        width: 80%;
        height: 10rem; /* 160px */
    }
    &-heading {
        letter-spacing: 1px;
        margin-bottom: .5rem;
    }
    &-icon {
        float: left;
        width: 7rem;
        height: 7rem;
        margin: 0 1rem;
        border-radius: 50%;
        border: 4px solid #e3a396;
        box-shadow: 2px 2px 5px rgba($colorBlack, .4);
        shape-outside: circle(50%);
    }
}
/* 3 section workflow */
/* 4 section counter */
.sec-counter {
    display: flex;
    justify-content: center;
    height: 40rem; /* 640px */
    padding: 3rem 6rem; /* 39px 96rem */

    background: linear-gradient(to left top, #e3a39660, #ffff0080), url('../imgs/counter-bg-2000.jpg') center/cover no-repeat;

    &-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 80%;

        // background-color: lightsalmon;
    }
    &-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
        text-align: center;

        // background-color: lightskyblue;
    }
    &-bottom {
        display: flex;
        justify-content: space-between;
        width: 100%;

        // background-color: lightsalmon;
    }
}
/* 4 section counter */
/* 5 section card */
.sec-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 55rem;
    padding: 4rem 5rem 2rem 5rem;
    background-color: #edeeee;

    &-cards {
        flex: 0 0 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}
/* 5 section card */
/* 6 section idea */
.sec-idea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35rem;
    background-image: linear-gradient(to bottom right, rgba($colorWhite, .6), rgba($colorWhite, .5)), url(../../imgs/sec-idea-bg-2000.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    &-heading {
        font-family: $fontSecondary;
        font-weight: 200;
        font-size: 3.5rem;
        color: $colorWhite;
        letter-spacing: 2px;
    }
}
/* 6 section idea */
/* 7 section comment */
.sec-comment {
    display: flex;
    flex-direction: column;
    height: 40rem;
    padding: 4rem 3rem;
    background-color: rgba(#b4bbbd, .7);

    &-top {
        flex: 0 20%;
        display: flex;
        justify-content: center;
    }
    &-bottom {
        flex: 1;
        display: flex;
        justify-content: space-around;
    }
}
/* 7 section comment */