/********* header *********/
.header {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 8rem; /* 128px */

    // background-color: lightblue;

    @media only screen and (min-width: 1825px) {
        margin-bottom: 4rem;
        background-color: rgba(#63b7e8, .2);
        box-shadow: 3px -3px 7px 10px rgba($colorBlack, .2);
    }

    &-brand {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 10%;
        transform: translate(-50%, -50%);

        @media only screen and(max-width: 768px) {
            left: 15%;
        }
        @media only screen and(max-width: 480px) {
            left: 23%;
        }
        @media only screen and(max-width: 375px) {
            left: 30%;
        }
        @media only screen and (min-width: 1825px) {
            left: 15%;
        }
    }
}
/********* header *********/