/********* header *********/
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    min-height: 8rem; /* 128px */
    background-color: lightblue;

    
    &-brand { }

    &-icons {
        position: absolute;
        top: 2%;
        right: 10%;
    }
}
/********* header *********/