/********* header *********/
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    min-height: 8rem; /* 128px */
    // background-color: lightblue;

    &-brand { }
}
/********* header *********/